<form nz-form class="form-ticket" [formGroup]="form">
  <div>
    <nz-form-item class="form-ticket__item">
      <nz-form-label nzFor="placeOfDeparture">Место вылета</nz-form-label>
      <nz-form-control class="form-ticket__control" [nzSpan]="14">
        <nz-select class="form-ticket__input" id="placeOfDeparture" formControlName="placeOfDeparture">
          <nz-option *ngFor="let city of citiesData" [nzValue]="city" [nzLabel]="city"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="form-ticket__item">
      <nz-form-label nzFor="dateOfDeparture">Время вылета</nz-form-label>
      <nz-form-control class="form-ticket__control" [nzSpan]="14">
        <input class="form-ticket__input" nz-input formControlName="dateOfDeparture" type="datetime-local" id="dateOfDeparture">
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="form-ticket__item">
      <nz-form-label nzFor="placeOfArrival">Место прилета</nz-form-label>
      <nz-form-control class="form-ticket__control" [nzSpan]="14">
        <nz-select class="form-ticket__input" formControlName="placeOfArrival" id="placeOfArrival">
          <nz-option *ngFor="let city of citiesData" [nzValue]="city" [nzLabel]="city"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="form-ticket__item">
      <nz-form-label nzFor="dateOfArrival">Время приземления</nz-form-label>
      <nz-form-control class="form-ticket__control" [nzSpan]="14">
        <input class="form-ticket__input" nz-input formControlName="dateOfArrival" type="datetime-local" id="dateOfArrival">
      </nz-form-control>
    </nz-form-item>

  </div>
</form>
