body {
  height: 100%;
  background: #f0f2f5;
}

.content {
  padding: 10px 0;
  margin: 0 auto;
  width: 80%;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.ticket {
  display: flex;
  justify-content: space-around;
}

.ticket__routes {
  max-width: 40%;
}

.ticket__route {
  margin: 5px 0;
}
